

body {
  background-size: 100% 700px;
  background-repeat: no-repeat;
  text-align: center;
}

.unexploded {
  background-image: url("./img/simcity.jpg");
}

.exploded {
    background-image: url("./img/explosion.jpg");
}

#box {
  background-color: #333;
  padding: 20px 20px 40px 20px ;
  display: inline-block;

}

#timer {
  color: chartreuse;
}

#reset {
  font-size: 30px;
  padding: 10px;
}

#reset:hover {
  background-color: #333;
  color: red;
}

#message {
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: sans-serif;  
}


